@using Web_CuaHangTienLoi.Models;
@model List<SANPHAM>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="wsk-cp-product">

                <div class="wsk-cp-img">
                    <a href="@Url.Action("XemChiTiet", new { @MASP = item.MASP })">
                        <img src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(@item.HINHANH))" class="img-responsive" alt="" width="400" height="400" />
                    </a>
                </div>

                <div class="wsk-cp-text">
                    <div class="category">
                        <span> @item.LOAISP.TENLOAI</span>
                    </div>
                    <div class="title-product">
                        <h3>@item.TENSP</h3>
                    </div>

                    <div class="card-footer">
                        <div class="wcf-left"><span class="price">@String.Format("{0:0,0}", @item.DONGIABAN) VNĐ</span></div>
                        @*@using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.MASP, @strURL = Request.Url.ToString() }))
                            {
                                <input type="submit" id="bgnGioHang" class="buy-btn" value="" />
                            }*@

                    </div>
                </div>
            </div>
        </div>

    }
</div>

